@font-face{
    font-family: squidFont;
    src: url(./font/Game-of-squids.otf);
}
*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container,.container-right,.container-left{
    display: flex;
    height: 100vh;
    max-height: 100%;
    
}
.container-right,.container-left{
    flex-direction: column;
    width: auto;
    background-color: rgb(173, 173, 173);
}
.container-right>div{
    padding-left: 70px;
    
}
.container-right{
    flex: 1;
}
.container-left{
    background-image: url("./images/tarun.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    width:35vw;
    color: white;
    text-align: center;
}
.header{
    margin-top: 15vh;
    margin-bottom: 50px;
    max-width: 1080px;
}
h1{
    font-size: 30px;
    font-weight: 300;
    padding-bottom: 20px;
}
.formsec{
    background-color: rgb(216, 216, 216);
    padding: 40px 0px 0px 0px;
    box-shadow: 1px 5px 10px 0px rgb(150, 150, 150);
    min-height: 340px;
}
form{
    display: flex;
}
.fr{
    padding: 18px; 
}
input{
    outline: none;
    padding: 4px 4px;
    margin: 8px 0;
    border: 1px solid #b1b2b4;
    border-radius: 4px;
}
input:focus{
    outline: #295db2 solid 2px;
    box-shadow: 0px 0px 10px 1px #295db2;
}
input.error{
    border: 1px solid red;
}
p.error{
     color: red;
     font-size: 12px;
}
label{
    font-family: "Monaco" ,"Lucida Console", "Courier New", monospace;
    font-size: 14px;
}
.bottomsec{
    padding: 30px 0px 0px 0px;
}
.bottomsec>p{
    padding-top: 15px;
}
a{
    color: #295db2;
    text-decoration: none;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30vh;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.315);
}
.logo-text{
    font-family: squidFont;
    font-size: 50px;
}
.credit{
    margin-top: auto;
    bottom: 0;
    color: white;
    font-size: 14px;
   
}
button{
    border: none;
    color: white;
    background-color: #295db2;
    width: 150px;
    height: 50px;
    border-radius: 8px;
}
button:active{
    background-color: #1d3d70;
}
